
h1{
    font-weight: lighter;
    text-align: center;
    margin: 9
  }
  p{
    font-style: italic;
    text-align: center;
    margin: 9;
  }
  body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
    font-family: sans-serif;
    color: white;
    font-size: 18px;

  }
  body::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(image/pexels-peter-olexa-4012966.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }
  form {
    background-color: rgba(27, 27, 50, .8);
    margin: 30px auto;
    max-width: 680px;
    min-width: 300px;
    padding: 25px 35px;
    border-radius: 5px;
  }
  fieldset{
    border: none;
  }
  label{
    display: block;
    margin-bottom: 8px;
  }
  input,select,textarea{
    width:100%;
    margin-bottom: 25px;
    padding: 8px;
    background-color: white;
    color: rgb(56, 60, 56);
    font-size: 17px;
  }
  input,select{
    border-radius: 5px;
  }
  input,select,textarea:focus {
    outline-color: blue;
  }
  .inline {
    margin: 0 10px 0 0;
    height: 19px;
    width: 19px;
    vertical-align: middle;
  }
  .sure{
    margin-bottom: 25px;
  }
  .additional{
    margin-bottom: 25px;
  }
  .sub{
    background-color: rgb(60,200,110);
    border: none;
    color: white;
    margin-top: 10px;
    height: 2.5em;
    font-size: 17px;
  }
  #name,#email,#number,#textarea{
    width: 630px;
  }
  